
<div class="panel panel-echo-inverse">
    <div class="panel-heading">
        <span>
        Application Sections
        </span>
    </div>
    <div class="panel-body">
        <div class="row services">
            <a ui-sref="search">
            <div class="col-sm-2 echo">
                <div class="service-icon">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <h5>Search</h5>
            </div>
            </a>
        </div>
    </div>
</div>
