<div class="container-fluid">
    <!--<div class="row">
        <pre>
            {{ngtableCtrl.shouldShow('gradeStyle', false);}}
            {{ngtableCtrl.shouldShow('gradeStyle', true);}}
            {{ngtableCtrl.media_lg}}
            {{ngtableCtrl.media_md}}
            {{ngtableCtrl.media_sm}}
            {{ngtableCtrl.media_xs}}
            {{ngtableCtrl.headings.length}}
        </pre>
    </div>-->
    <div class="row">
        <table ng-table-dynamic="ngtableCtrl.tableParams with ngtableCtrl.headings" ng-table="" class="table" show-filter="true" >
            <tbody ng-repeat="item in $data">
                <tr ng-click="ngtableCtrl.showDetail(item);">
                    <td ng-repeat="col in $columns">
                        <span ng-if="$index == 0 && ngtableCtrl.detailsToShow()" class="fa" 
                            ng-class="{'fa-caret-right': !item.showDetailAttr, 'fa-caret-down': item.showDetailAttr}"> </span> 
                                {{item[col.field]}}</td>
                </tr>
                
                <tr ng-if="item.showDetailAttr && ngtableCtrl.detailsToShow()">
                    <td colspan="6">
                        <ul>
                            <li ng-if="ngtableCtrl.shouldShow('engine', true)"> Engine: {{item.engine}}</li>
                            <li ng-if="ngtableCtrl.shouldShow('browser', true)"> Browser: {{item.browser}}</li>
                            <li ng-if="ngtableCtrl.shouldShow('platform', true)">Platform: {{item.platform}}</li>
                            <li ng-if="ngtableCtrl.shouldShow('version', true)">Version: {{item.version}}</li>
                            <li ng-if="ngtableCtrl.shouldShow('gradeStyle', true)">   Grade: {{item.gradeStyle}}</li>
                        </ul>
                    </td>                           
                </tr>
            </tbody>
        </table>
    </div>
</div>