<div class="container-fluid">
    <!--<div class="row">
        <pre>
            {{tableCtrl.shouldShow('gradeStyle', false);}}
            {{tableCtrl.shouldShow('gradeStyle', true);}}
            {{tableCtrl.media_lg}}
            {{tableCtrl.media_md}}
            {{tableCtrl.media_sm}}
            {{tableCtrl.media_xs}}
            {{tableCtrl.headings.length}}
        </pre>
    </div>-->
  <div class="row">

    <table st-table="tableCtrl.showing"  st-safe-src="tableCtrl.smartTableData" 
        class="table table-striped">
            <thead>
                <tr>
                    <th ng-repeat="head in tableCtrl.headings" st-sort="{{tableCtrl.isSortable(head.name)}}" st-class-ascent="{{tableCtrl.getSortClass(head.name,true)}}" st-class-descent="{{tableCtrl.getSortClass(head.name,false)}}" ng-if="tableCtrl.shouldShow(head.name, false)">
                        {{head.title}}
                    </th>
                </tr>
                <tr>
                    <th ng-repeat="head in tableCtrl.headings">
                        <input ng-if="head.filter && tableCtrl.shouldShow(head.name, false)" st-search="{{head.name}}" ng-class="{'input-sm form-control': head.filter}" type="{{head.filterType}}"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="item in tableCtrl.showing" ng-click="tableCtrl.showDetail(item);" >
                    <td ng-repeat="head in tableCtrl.headings" ng-if="tableCtrl.shouldShow(head.name, false)"> 
                        <span ng-if="tableCtrl.detailsToShow() && $index == 0" class="fa" ng-class="{'fa-caret-right': !item.show, 'fa-caret-down': item.show}"> </span> 
                        {{item[head.name]}}
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="item.show && tableCtrl.detailsToShow()">
                    <td colspan="{{tableCtrl.headings.length}}">
                        <ul>
                            <li ng-repeat="head in tableCtrl.headings" ng-if="tableCtrl.shouldShow(head.name, true)">
                                {{head.title}}: {{item[head.name]}}
                            </li>
                        </ul>
                    </td>                           
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="{{tableCtrl.headings.length}}" class="text-center">
                        <div st-pagination="" st-items-by-page="tableCtrl.itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
  </div>
</div>